# github sponsors - can be any GH token as long as it has read:user and read:org
VITE_GITHUB_ORG=SlimeVR
VITE_GITHUB_AUTH_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

VITE_DISCORD_GUILD_ID=817184208525983775 # SlimeVR discord
DISCORD_BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
