img.discord-emoji {
    display: inline-block !important;
    height: 1.2em !important;
    width: 1.2em !important;
    margin: 0 0.05em !important;
    vertical-align: -0.2em;
    object-fit: contain;
}
