@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-10: 255, 255, 255;
  --background-20: 120, 164, 198;
  --background-30: 96, 138, 171;
  --background-40: 61, 99, 129;
  --background-50: 26, 61, 89;
  --background-60: 17, 45, 67;
  --background-70: 8, 30, 48;
  --background-80: 0, 16, 28;
  --background-90: 0, 5, 9;

  --accent-background-10: 187, 138, 229;
  --accent-background-20: 157, 92, 212;
  --accent-background-30: 101, 69, 154;
  --accent-background-40: 98, 59, 131;
  --accent-background-50: 46, 33, 69;
  --accent-background-60: 30, 35, 60;

  --success: 80, 232, 151;
  --warning: 216, 205, 55;
  --critical: 223, 109, 140;
  --special: 164, 79, 237;
  --window-icon-stroke: 192, 161, 216;

  --default-color: 255, 255, 255;

  /* Default font size */
  --font-size: 190pt;
  --font-size-standard: var(--font-size);
  /* 30% bigger */
  --font-size-section-title: calc(var(--font-size) * 1.3);
  /* 100.08% bigger */
  --font-size-title: calc(var(--font-size) * 2.2);

  --font-name: "Poppins";
}

body {
  background-color: theme("colors.accent-background.60");
  font-variant-numeric: tabular-nums;
  font-family: var(--font-name), "Noto Sans CJK", sans-serif,
    "Twemoji Chromium", emoji;
  color: theme("colors.background.10");
}

a.link {
  @apply hover:underline;
}

.pattern {
  background-color: theme("colors.background.70");
  background: url("/images/Pattern.webp") repeat;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.linear-gradient {
  background: #5f9d34;
  background: radial-gradient(
    at center,
    #5f9d34,
    #5595bc,
    #ddda1d,
    #630fc4,
    #0f6dc4,
    #0fc42d
  );
}
