name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: "main"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "pnpm"
      - run: pnpm i
      - run: NITRO_PRESET=cloudflare_pages_static pnpm build
        env:
          VITE_GITHUB_AUTH_TOKEN: ${{ secrets.VITE_GITHUB_AUTH_TOKEN }}
          VITE_GITHUB_ORG: SlimeVR
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist/ --project-name "slimevr-main-website" --branch "${{ github.ref == 'refs/heads/main' && 'main' || github.event.pull_request.number }}"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
